<h1>Anagrams and Antigrams</h1>
<form action="/show">
  <div class="form-group">
     <label for="first">Please enter first word/sentence: </label>
     <input id="first" name="first" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="second">Please enter second word/sentence: </label>
     <input id="second" name="second" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger btn-lg">Anagrams?</button>
</form>
